@import "RESET.less";
@import "elements.less"; 

html, body {
    height: 100%;
}

.thin {font-weight:100;}
.extralight {font-weight:200;}
.light {font-weight:300;}
.regular {font-weight:400;}
.medium {font-weight:500;}
.semibold {font-weight:600;}
.bold {font-weight:700;}
.extrabold {font-weight:800;}
.black {font-weight:900;}

@black : #000000;
@grey : #cacaca;
@yellow : #ffd200;


body { 
    font-family: 'Montserrat', sans-serif;
    .box-sizing(@sizing: border-box);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    * {
        font-family: 'Montserrat', sans-serif;
        .box-sizing(@sizing: border-box);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    *:focus {
        outline: none;
    }
    a {
        text-decoration: none;
    }
    button {
        border:none;
        outline:none;
    }
}

.block {
    padding:100px 0px 100px 0px;
    &__title {
        text-align:center;
        position:relative;
        padding-bottom:20px;
        margin-bottom:20px;
        &:before {
            content:'';
            display:block;
            width:100px;
            height:9px;
            position:absolute;
            left:50%;
            .translate(@x:-50%);
            bottom:0px;
            background:url(../images/h2.png) no-repeat top center;
        }
        h2 {
            font-size:40px;
            line-height:46px;
            color:@black;
            .medium;
        }
        p {
            padding-top:20px;
            color:@black;
            font-size:26px;
            line-height:32px;
            .medium;
        }
    }
}

.center {
    width:100%;
    max-width:1200px;
    padding:0px 15px;
    margin:0 auto;
}

.wrap {
    position:relative;
    overflow:hidden;
    p {
        font-size:20px;
        line-height:30px;
        color:@black;
    }
}

.navigation {
    position:fixed;
    z-index:11;
    top:50%;
    .translate(@y:-50%);
    right:20px;
    a {
        display:block;
        width:10px;
        height:10px;
        .rounded(10px);
        margin-bottom:10px;
        cursor:pointer;
        border:2px solid @black;
        background:transparent;
        .transition(0.2s);
        &.act {
            background:@yellow;
            border:2px solid @yellow;
        }
    }
}

.header {
    &__top {
        text-align:right;
        padding:11px 0px 7px 0px;
        border-bottom:1px solid @grey;
        span {
            display:inline-block;
            font-size:13px;
            line-height:13px;
            color:@black;
        }
        .mail {
            margin-right:21px;
        }
    }
    &__bottom {
        padding:28px 0px 20px 0px;
        .flex-display(@display: flex);
        .justify-content(@justify: space-between);
        .align-items(@align: center);
        .nav {
            position:relative;
            top:-5px;
            li {
                display:inline-block;
                margin-right:45px;
                &:last-child {
                    margin-right:0px;
                }
                a {
                    font-size:14px;
                    .semibold;
                    text-transform:uppercase;
                    color:@black;
                    &:hover {
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}

.welcome {
    .center {
        padding:180px 15px 100px 15px;
        position:relative;
        .hero {
            position:absolute;
            left:630px;
            top:30px;
        }
        .welcome_img {
            position:absolute;
            left:-220px;
            top:55px;
        }
    }
    .container {
        width:570px;
        h3 {
            .medium;
            font-size:30px;
            position:relative;
            padding-bottom:35px;
            margin-bottom:23px;
            &:before {
                content:'';
                display:block;
                width:100px;
                height:9px;
                position:absolute;
                left:0;
                bottom:0px;
                background:url(../images/h2.png) no-repeat top center;
            }
        }
        p {
            font-size:22px;
            line-height:32px;
            margin-bottom:37px;
        }
        .btns {
            a {
                .flex-display(@display: flex);
                .align-items(@align: center);
                width:450px;
                height:66px;
                margin-bottom:20px;
                &:last-child {
                    margin-bottom:0px;
                }
                .bordercolor(@grey);
                background:transparent;
                .transition(0.2s);
                padding:5px 17px 5px 17px;
                color:@black;
                svg {
                    width:30px;
                    height:30px;
                    .flex-basis(@width: 30px);
                    margin-right:20px;
                }
                span {
                    font-size:16px;
                    line-height:22px;
                    .medium;
                }
                &:hover {
                    background:@yellow;
                    .bordercolor(@yellow);
                }

            }
        }
    }
}


.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
._show {
    display:block!important;
}
._hide {
    display:none!important;
}

@media screen and (max-width: 1450px) and (min-width: 980px) {

}

@media screen and (max-width: 979px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) {

}



